*{
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

.app-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
}

.app-wrapper{
    max-width: 1250px;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    padding-bottom: 20px;
}